<!-- Меню -->
<div class="container">
	<div class="navbar">
		<div class="navbar-logo">
			<h1>Блог</h1>
		</div>
		<div class="navbar-block">
			{% if user.is_superuser or user.is_staff %}
			<a href="{% url 'admin:index' %}">Администрирование</a>
			{% endif %}
			<a href="{% url 'subscribers:news' %}">Лента новостей</a>
			<a href="{% url 'posts:list' %}">Мои посты</a>
			<a href="{% url 'subscribers:list' %}">Мои подписки</a>
		</div>
		<div class="navbar-block">
			{% if user.is_authenticated %}
				<p>Добро пожаловать ({{ user.username }}) !</p>		
				<form action="{% url 'user:logout' %}">
					<button type="submit">Выйти</button>
				</form>
			{% else %}
				<a href="{% url 'user:login' %}">Вход</a>
			{% endif %}
		</div>
	</div>
</div>
<!-- Меню -->