button {
	margin: 5px;
}
.container {
	width: 80%;
	margin: auto;
	height: auto;
}
.navbar-logo {
	margin-right: 10px;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-block a {
	margin-right: 20px;
}

.post {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.button_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}